img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overall-product-container {
  padding: 2rem 0;
  text-align: center;
}
.product-card {
  width: 100%;
  border: 1px solid rgb(200, 198, 198);
  border-radius: 4px;
  margin: 1.5rem auto;
  width: 80%;
  text-align: center;
  height: 22rem;
  padding: 1rem;
}
.product-card-image-container {
  width: 100%;
  height: 80%;
  margin-bottom: .3rem;
}
/* btns */
.product-btns {
  text-align: center;
}
.product-btns button {
  display: block;
  margin: 1rem auto;
  border: 1px solid rgb(155, 154, 154);
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  background: transparent;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.product-btns .active-btn {
  background-color: rgb(209, 65, 30);
  color: #fff;
  border: none;
}

@media (min-width: 600px) {
  .products-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-card {
    width: 43%;
  }
  .product-btns button {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (min-width: 900px) {
  .product-card {
    width: 28%;
  }
}
