
/* .home {
  font-family: cursive;
  color: aliceblue;
  height: calc(100vh - 80px);
  display: flex;
}

.home_left {
  
  margin: 25px;
  margin-top: 13rem;
  margin-left: 100px;
  font-family: cursive;
  color: aliceblue;
  height: calc(100vh - 80px);
  align-items: flex-start;
 
}

.sec{
  background-image: url("../../assets/red.jpg");
  background-size:100% 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap:5px;
  align-items:center ;
  justify-content: space-around;
}

.home_left  h1 {
  color: whitesmoke;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.home_left  p{
  color: whitesmoke;
  letter-spacing: 1px;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 1px 1px 1px;
}


.home_button {
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  margin-top: 40px;
  cursor: pointer;
<<<<<<< HEAD
} */



header{
  position: relative;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 0;
  bottom: -10%;
}
.image img{
 overflow-x: hidden;
  width: 100rem;
}

.header_text{
  position: relative;
   z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background: rgba(0, 0, 0, 0.521);
  padding: 1rem;
  text-align: center;
  border: 1px solid white;
  padding: 2rem;
}
.header_text h1{
  font-weight: bolder;
  font-size: 3rem;
}
.header_text p{
  margin: 2rem 0;
}

.header_text a{
  background: #d1411e;
  color: white;
  padding: 0.6rem 2rem;
  font-weight: bold;
  text-decoration: none;
}

.header_text a:hover{
  background: white;
  color: #d1411e;
  padding: 0.6rem 2rem;
  font-weight: bold;
  text-decoration: none;
}
.top-rated-meal{
    display: grid;
    grid-template-columns: 22% 22% 22%;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}
.top-rated-meal .card{
  transition: all .2s ease-in-out;
  box-shadow: 5px 5px 9px rgb(218, 215, 215);
  margin: 3rem 0;

 
}
.top-rated h2{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}


.top-rated-meal .card img{
  width: 100%;
  transition: all .2s ease-in-out;
 
}
.card p{
  margin-top: 0.5rem;
  font-size: 15px;
}
.top-rated-meal div:hover {
   transform: scale(1.1); 
}
.inner_text{
  padding: 1rem;
  padding-bottom: auto;
}







@media screen and (max-width: 600px) {
  .image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
    top: -20%;
  }
 .image img{
 }
 .top-rated-meal{
  padding: 1rem;
  grid-template-columns: 80%;
  gap: 1%;
 
}
}
@media screen and (max-width: 450px) {
  .image img{
  }
 }
