.about_header{
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.about_add_form{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    align-items: flex-start;
}

.contact_form{
    display: grid;
    grid-template-columns: 1fr;

}
.input-sec{
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;

}

.input-sec input, .input-sec select{
    padding: 5px 0;
    outline: none;
    border: 1px solid #d1411e;

  
}